.cardSort {
  margin: 0 auto;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0;
}

h4 {
  color: #DE007A;
  font-size: 32px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 80px;
}

.findings {
  color: #5A5A5A;
  font-size: 18px;
  font-family: open-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
}

.flex-container2 {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

h6 {
  color: #DE007A;
  font-size: 24px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  white-space: normal;
  line-height: 30px;
  text-transform: uppercase;
  padding-right: 10%;
  z-index: 1;
  vertical-align: bottom;
  overflow-wrap: normal;
  margin-top: 50px;
  margin-bottom: 20px;
}

.containerGrid2 {
  display: grid;
  /* height: span; */
  padding: 30px;
  grid-template-areas:
    "sidebar studyContent"
  }

iframe {
  float: none;
  width: 210px; 
  height: 510px;
  border-radius: 20px;
  border: 2px solid #DE007A;
}

.edSide {
  float: none;
  width: 210px; 
  height: 190px;
  border-radius: 20px;
  border: 2px solid #DE007A;
  background-color: #797979;
}

.tripSide {
  float: none;
  width: 210px; 
  height: 310px;
  border-radius: 20px;
  border: 2px solid #DE007A;
  background-color: #797979;
}

.largeProtoDesk {
  float: none;
  width: 600px; 
  height: 400px;
  margin-right: 50px;
}

.largeProtoDeskEd {
  float: none;
  width: 480px; 
  height: 400px;
  margin-right: 30px;
}

.largeProtoTabED {
  float: none;
  width: 280px; 
  height: 400px;
  margin-right: 30px;
}

.largeProtoMob {
  float: none;
  width: 250px; 
  height: 400px;
}

.largeProtoMobEd {
  float: none;
  width: 180px; 
  height: 400px;
}

.margin {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar {
  grid-area: auto;
  width: 210px;
  position: sticky;
  margin-top: 15px;
  padding: 10px;
  margin-right: 50px;
}

.sidebarPhone {
  display: none;
}

.studyContent {
  grid-area: auto;
  width: 80%;
  text-align: left;
  padding: 30px;
}

ul {
  color: #797979;
  font-size: 18px;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: left;
  font-size: 18px;
  line-height: 27px;
  color: #797979;
}

.caseImages {
  width: 100%;
  height: auto;
}

.caseImages2 {
  width: 80%;
  padding-right: 50px;
  height: auto;
}

.arrow {color: #DE007A;}



.butText {
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}


.sidePhone {
  display: none;
}





/* Related Work */

.allCards {
  margin-top: 80px;
}

.container-fluid h3 {
  margin-bottom: 0px;
}

.card {
  border-radius: 20px;
  padding: 0;
  margin: 20px;
  background-color: #FBEEF1;
}

.card-body {
  border-style: none;
}

.btn, .btn-primary {
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #DE007A;
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.btn:hover, .btn-primary:hover {
  transform: scale(105%);
  background-color: #59ABD0;
} 

.card-img-top {
  object-fit: cover;
  padding-bottom: 20px;
}









@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .containerGrid2 {
    display: grid;
    width: 65%;
  /* margin: 0 auto; */
    /* height: span; */
    padding: 200px 10% 30px 10%;
    grid-template-areas:
      "sidePhone" 
      "studyContent"
    }

  .sidebar {
    display: none;
  }

  .sidePhone {
    display: inline-block;
    width: 100%;
  }
  
  .studyContent {
    text-align: justify;
    padding: 0px;
    width: 100%;
  }

  iframe {
    float: none;
    width: 85%; 
    height: 80vh;
    margin: 30px 0px 20px 30px;
    border-radius: 20px;
    border: 2px solid #DE007A;
    align-items: center;
  }
  
  .edSide {
    /* float: none;
    width: 210px; 
    height: 190px; */
    border-radius: 20px;
    border: 2px solid #DE007A;
    background-color: #797979;
  }
  
  .tripSide {
    /* float: none;
    width: 210px; 
    height: 310px; */
    border-radius: 20px;
    border: 2px solid #DE007A;
    background-color: #797979;
  }

  .largeProtoDesk {
    float: none;
    width: 600px; 
    height: 400px;
    margin-right: 50px;
  }
  
  .largeProtoDeskEd {
    float: none;
    width: 100%; 
    height: auto;
    margin-right: 30px;
  }
  
  .largeProtoTabED {
    float: none;
    width: 100%; 
    height: auto;
    margin-right: 30px;
  }
  
  .largeProtoMob {
    float: none;
    width: 50%; 
    height: 90vh;
    justify-content: center;
  }
  
  .largeProtoMobEd {
    float: none;
    width: 100%; 
    height: auto;
  }
  
  .caseImages {
    width: 100%;
    height: auto;
  }

  p {
    text-align: justify;
  width: 85%;
  }

  h6 {
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  h4 {
    color: #DE007A;
    font-size: 32px;
    font-family: open-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 40px;
  }

li {
  width: 90%;
}


.caseImages {
  width: 90%;
  padding-left: 3%;
  height: auto;
}


}