.footerGrid {
    display:grid;
    grid-template-columns: 5% 5% 29% 14% 11% 8% 9% 5% 5% 5%;
    /* text-align: center; */
    background-color: white;
    /* width: 100%;    */
    margin-top: 100px; 
    /* background-image: url("../images/gradient.png");
    background-repeat: repeat-x; */
    /* background-position-y: 0; */
    /* background-position: left top; */
    /* background-size: 100%; */
    padding-top: 30px;
  }

  

.childName {
  grid-area: auto;
  text-align: left;
  font-family: gala, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  color: #DE007A;
  padding-left: 30px;
}

.navigation {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  opacity: 57%;
  padding-top: 65px;
  text-align: center;
}

.social {
  padding-top: 55px;
}

.logo {
  opacity: 100%;
}

a {
color: inherit;
text-decoration: inherit;
}

.link {
  color: #DE007A;
  text-decoration: underline;
  font-family: open-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.link:hover {
  color: #59ABD0;
  text-decoration: underline;
  font-family: open-sans, sans-serif;
  font-weight: 900;
  font-size: 16px;
}

button {
  color: #DE007A;
  text-decoration: underline;
  font-family: open-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: white;
}

button:hover {
  color: #59ABD0;
  text-decoration: underline;
  font-family: open-sans, sans-serif;
  font-weight: 800;
  font-style: bold;
  font-size: 18px;
}

.headerGrid {
  display:grid;
  grid-template-columns: 5% 48% 12% 13% 10% 10%;
  text-align: left;
  width: 100%;   
  background-size: 100%;
  padding-top: 20px;
}

body {
  background-image: url("../images/puzzle_piece.png"), url("../images/gradient.png");
  background-repeat: no-repeat;
  background-position-x: 297px 0;
  background-position-y: 0;
  background-position: right top, left top;
  font-family: sans-serif;
  position: relative;
}

.heroImg, .case2 {
  padding-top: 30px;
  padding-bottom: 30px; 
  display: right;
}

.content {
  width: 65%;
  margin: 0 auto;
  /* display: flex; */
}


.hello {
  color: #DE007A;
  font-size: 32px;
  font-family: gala, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 10px;
  white-space: nowrap;
  display: block;
}

h1 {
  color: #DE007A;
  font-size: 60px;
  font-family: gala, sans-serif;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
  margin: 0;
}


h2{
  /* grid-area: auto; */
  font-family: gala, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  color: #DE007A;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 15px;
}

h3 {
  color: white;
  font-size: 24px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  white-space: normal;
  line-height: 30px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  background-color: #DE007A;
  border-radius: 20px 20px 0 0;
  margin-top: 0;
}

h4 {
  color: #DE007A;
  font-size: 32px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  text-align: left;
}

h5{
  grid-area: auto;
  font-family: gala, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  color: #DE007A;
  text-align: center;
  margin-top: 42px;
}

.findings {
  color: #5A5A5A;
  font-size: 18px;
  font-family: open-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
}

h8 {
  color: #DE007A;
  font-size: 20px;
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
  line-height: 1px;
  text-transform: uppercase;
}

.centerCase {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  margin-bottom: 70px;
  width: 400px;
  height: 5px;
}
/* 
.separator {
  width: 400px;
} */

.myPhoto {
  align-content: 186px;
  align-self: flex-start;
  z-index: -1;
  float: right;
  margin: 8px;
  width: 359px;
}

.flex-container {
  display: flex;
  background-color: white;
  width: auto;
  justify-content: center;
  align-items: center;
}
.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}



/* flip card */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  border-radius: 20px;
  height: 700px;
  width: 335px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 335px;
  height: 700px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  background-color: #F9E5EA;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border-radius: 20px;
  background-color: #F9E5EA;
}

/* Style the back side */
.flip-card-back {
  border-radius: 20px;
  background-color: #F9E5EA;
  transform: rotateY(180deg);
}

.flipImg {
  width: 300px;
  height: auto;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.flipImg2 {
  width: 280px;
  height: auto;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.flipImg3 {
  width: 270px;
  height: auto;
}

/* flip card end */




p {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: left;
  font-size: 18px;
  line-height: 27px;
  color: #797979;
}
 
.studies p {
  margin-right: 15px;
  color: #5A5A5A;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

#bodySpan {
  width: 100%;
}

.studies {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

#lineGrad {
  background: #DE007A;
  background: -moz-linear-gradient(left, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
  background: -webkit-linear-gradient(left, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
  background: linear-gradient(to right, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
  }

  #lineGrad {
    min-height: 2px;
    text-align: left;
    /* width: 850px; */
    z-index: 1;
    border: none;
    /* position: relative; */
    /* left: 50px; */
  }

  #lineGrad2 {
    background: #DE007A;
    background: -moz-linear-gradient(left, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
    background: -webkit-linear-gradient(left, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
    background: linear-gradient(to right, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
    }
  
    #lineGrad2 {
      min-height: 2px;
      text-align: left;
      width: 350px;
      border: none;
    }

    #lineGrad3 {
      background: #DE007A;
      background: -moz-linear-gradient(left, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
      background: -webkit-linear-gradient(left, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
      background: linear-gradient(to right, #DE007A 0%, #AA6CA6 50%, #59ABD0 100%);
      }
    
      #lineGrad3 {
        min-height: 2px;
        text-align: left;
        width: 100%;
        border: none;
      }

      .footLine {
        margin-top: 100px;
        margin-bottom: -100px;
      }
      

 .navigation:hover {
   color: #DE007A;
   font-weight: 600;
   opacity: 100%;
   cursor: pointer;
 }

 .social:hover {
   transform: scale(1.1, 1.1);
   cursor: pointer;
 }

 .hamburger {
  display: none;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #navigation {
    position: fixed;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    background-image: url("../images/gradient.png"), url("../images/puzzle_piece.png");
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: cover;
  }
  
  .headerGrid {
    display:inline;
    width: 100%;   
    background-size: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-left: 30px;
  }

  .navigation {
      display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #DE007A;
}

  .hamburger {
    display: inline;
    cursor: pointer;
  }

  .logo {
    margin-left: 30px;
    width: 80%;
    height: auto;
  }


/* hero */
.content {
  margin-top: 160px;
  width: 100%;
  align-content: center;
  overflow-wrap: normal;
}

.content2 {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    height: auto;
    align-content: center;
    overflow-wrap: normal;
  }
  .content3 {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    align-content: center;
    overflow-wrap: normal;
  }

  .content4 {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    align-content: center;
    overflow-wrap: normal;
  }


  p {
    text-align: justify;
    margin-left: 30px;
    margin-right: 40px;
  }

  
  h1 {
    color: #DE007A;
    font-size: 42px;
    font-family: gala, sans-serif;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    line-height: 80px;
    padding-top: 60px;
    margin-left: 20px;
    text-shadow: 1px 1px rgba(255, 255, 255, .8);
  }

  button {
    display: none;
  }

    #lineGrad {
      min-height: 2px;
      width: auto;
      z-index: 1;
      border: none;
      margin-left: 20px;
    }

    #lineGrad2 {
      margin-bottom: 50px;
    }

  body {
    background-image: none;
  }

  .myPhoto {
    align-self: flex-start;
    z-index: -1;
    float: right;
    width: 38%;
    position: relative;
    padding-right: 15px;
    padding-left: 8px;
  }


 /* case studies */
 
 h2{
  font-size: 36px;
  margin-top: 25px;
  text-align: center;
}

.flex-container {
  display: flex;
  background-color: white;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-container > div {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}


/* footer */
  .footerGrid {
    display:inline;
    background-image: url("../images/gradient.png");
    background-repeat: no-repeat;
    background-position-y: 0;
  }

  .childLogo {
    display: inline;
    padding: 0;
  }
  
  .childName {
    display: inline;
    text-align: center;
    padding: 0;
  }

  .footerGrid .navigation {
    display: list-item;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;

  }

  .footerGrid .social {
    padding-top: 10px;
  }


  }


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
 
  #navigation {
    display: center;
    position: fixed;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    background-image: url("../images/gradient.png"), url("../images/puzzle_piece.png");
    background-repeat: no-repeat;
    background-position-x: auto;
    background-position-y: 0;
    background-size: cover;
  }
  
  .headerGrid {
    display:inline;
    /* text-align: center; */
    width: 100%;   
    background-size: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-left: 30px;
  }

  .navigation {
      display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #DE007A;
}

  .hamburger {
    display: inline;
    cursor: pointer;
  }

  .logo {
    margin-left: 30px;
    width: 80%;
    height: auto;
  }


/* hero */
.content {
  margin-top: 160px;
  width: 100%;
  align-content: center;
  overflow-wrap: normal;
}

.content2 {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    height: auto;
    align-content: center;
    overflow-wrap: normal;
  }
  .content3 {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    align-content: center;
    overflow-wrap: normal;
  }

  .content4 {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    align-content: center;
    overflow-wrap: normal;
  }

  /* #case1 {
    width: 50%;
    height: 50%;
  } */


  p {
    text-align: justify;
    margin-left: 30px;
    margin-right: 40px;
  }

  
  h1 {
    color: #DE007A;
    font-size: 42px;
    font-family: gala, sans-serif;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    line-height: 80px;
    padding-top: 60px;
    margin-left: 20px;
    text-shadow: 1px 1px rgba(255, 255, 255, .8);
  }

  button {
    display: none;
  }

    #lineGrad {
      min-height: 2px;
      width: auto;
      z-index: 1;
      border: none;
      margin-left: 20px;
    }

    #lineGrad2 {
      margin-bottom: 50px;
    }

  body {
    background-image: none;
  }

  .myPhoto {
    align-self: flex-start;
    z-index: -1;
    float: right;
    width: 38%;
    position: relative;
    padding-right: 15px;
    padding-left: 8px;
  }


 /* case studies */
 
 h2{
  font-size: 36px;
  margin-top: 25px;
  text-align: center;
}

.studies {
  width: 100%;
  align-content: center; 
  height: 400;
}

.studies p {
  color: #5A5A5A;
}

/* .case1, .case2, .case3,  p {
  margin-top: 30px;
} */

.studies #lineGrad {
  display: none;
}

.case1, .case2, .case3 {
  background-color: #F9E5EA;
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  padding: 0;
  margin: auto;
  /* align-content: space-around; */
}


.link {
  margin-right: 35px;
  /* margin-bottom: 40px; */
  text-align: right;
}

/* footer */
  .footerGrid {
    display:inline;
    background-image: url("../images/gradient.png");
    background-repeat: no-repeat;
    background-position-y: 0;
  }

  .childLogo {
    display: inline;
    padding: 0;
  }
  
  .childName {
    display: inline;
    text-align: center;
    padding: 0;
  }

  .footerGrid .navigation {
    display: list-item;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;

  }

  .footerGrid .social {
    padding-top: 10px;
  }


  }
 
/* end tablet media */




/* Case Study - The Frederick Center */
.tfcPhoto2 {
  height: 150px;
  width: 155px;
  margin-top: 65px;
}

h6 {
  color: #DE007A;
  font-size: 24px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  white-space: normal;
  line-height: 30px;
  text-transform: uppercase;
  padding-right: 10%;
  z-index: 1;
  vertical-align: bottom;
  overflow-wrap: normal;
  margin-top: 25px;
  margin-bottom: 20px;
}
.containerGrid2 {
  display: grid;
  height: span;
  padding: 30px;
  grid-template-areas:
    "sidebar studyContent"
  }

iframe {
  float: none;
  width: 210px; 
  height: 510px;
  border-radius: 20px;
  border: 2px solid #DE007A;
}

.sidebar {
  grid-area: auto;
  width: 210px;
  position: sticky;
  /* margin-left: 20px; */
  margin-top: 15px;
  padding: 10px;
  margin-right: 50px;

}

.studyContent {
  grid-area: auto;
  width: 80%;
  text-align: left;
  padding: 30px;
}

ul {
  color: #797979;
  font-size: 18px;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: left;
  font-size: 18px;
  line-height: 27px;
  color: #797979;}
/* https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci */
}



